
html {
    height: 100%;
}

body {
    padding-top: 64px;
}

.second-navbar{
    top: 68px
}

.container-work{
    height: auto;

    width: 100%;
    min-width: 100%;
    position: absolute;

    top: 132px;
    bottom: 0;

}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#cy{
    width: 50%;
    height: 100%;
    margin-bottom: 0;
    float: left;
}

#text-input{
    resize: none;
}

#preview_content{
    max-height: 730px;
    overflow: auto;
}

#node_content{
    /*max-height: 730px;*/
    width: 50%;
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
    padding-left: 23px;
    padding-right: 23px;
}

@media (min-height: 600px) {
    .cy_content {
        height: 400px;
    }
    #text-input{
        height: 250px;
    }
}

@media (min-height: 700px) {
    .cy_content {
        height: 500px;
    }
    #text-input{
        height: 350px;
    }
}

@media (min-height: 770px) {
    .cy_content {
        height: 550px;
    }
    #text-input{
        height: 400px;
    }
}

@media (min-height: 893px) {
    .cy_content {
        height: 700px;
    }
    #text-input{
        height: 540px;
    }
}

/*@media (min-width: 1550px) {*/
    /*.container {*/
        /*width: 1500px;*/
    /*}*/
/*}*/


/*.edit_menu_panel{*/
    /*background-color: #6d6a6d;*/
/*}*/

/*.edit_menu_panel .navbar-brand {*/
    /*color: #d6d6d6;*/
/*}*/