
body {
    padding-top: 87px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#cy{
    width: 100%;
    height: 100%;
}

.cy_content{
    padding-right: 0;
    padding-left: 0;
    height: 550px;
}

#text-input{
    resize: none;
}

#preview_content{
    max-height: 730px;
    overflow: auto;
}

#node_content{
    max-height: 730px;
    overflow: auto;
}

@media (min-height: 600px) {
    .cy_content {
        height: 400px;
    }
    #text-input{
        height: 250px;
    }
}

@media (min-height: 700px) {
    .cy_content {
        height: 500px;
    }
    #text-input{
        height: 350px;
    }
}

@media (min-height: 770px) {
    .cy_content {
        height: 550px;
    }
    #text-input{
        height: 400px;
    }
}

@media (min-height: 893px) {
    .cy_content {
        height: 700px;
    }
    #text-input{
        height: 540px;
    }
}

@media (min-width: 1550px) {
    .container {
        width: 1500px;
    }
}


/*.edit_menu_panel{*/
    /*background-color: #6d6a6d;*/
/*}*/

/*.edit_menu_panel .navbar-brand {*/
    /*color: #d6d6d6;*/
/*}*/