@(message: String, articles: List[Article])

@main("Artilidus. Главная страница.") {

    <div class="starter-template">
        <h1>Заголовок глубокой цитаты</h1>
        <p class="lead">Какая-нибудь маркетинговая глубокая циатата<br> А так же ее не менее глубокая вторая половина</p>
    </div>

    <div class="row">

    @for(article <- Article.findAllMainArticles){
        <div class="col-sm-4">
            <h3>@article.title</h3>
            @Html(article.contentHtml)
            <a class="btn btn-default" href="@routes.Application.mainGraph(article.konspectId)">Перейти</a>
        </div>
    }

    </div>

    <hr>

    <footer>
        <p>&copy; author 2014</p>
    </footer>

}{

}

