
@main_min("Тест Markdown") {


    <h1 style="margin-left: 20%;">Новая статья</h1>

    <div id="input_content">
        <h4>Название статьи</h4>
        <textarea rows="1" id="title-input" oninput=""></textarea>

        <h4>Родитель</h4>
        <p>
            <select id="parent_select">
            @for(article <- Article.findAll) {
                <option value=@article.id>@article.title</option>
            }
            </select>
        </p>

        <h4>Содержание</h4>
        <textarea id="text-input" oninput="this.editor.update()">Type **Markdown** here.</textarea>
    </div>

    <div id="preview_content"> </div>

    <div id="input_menu">
        <input
        id="add_article"
        type="submit"
        class="btn primary"
        value="Добавить статью">
    </div>

    <script>

            function Editor(input, preview) {
                this.update = function () {
                    preview.innerHTML = marked(input.value);
                };
                input.editor = this;
                this.update();
            }

            var getElem = function (id) {
                return document.getElementById(id);
            };

            new Editor(getElem("text-input"), getElem("preview_content"));

            $("#add_article")[0].onclick = function () {
                console.log(' --- Start onclick --- ');

                var request = $.ajax({
                    type:"POST",
                    url:"/articles",
                    data: JSON.stringify
                    ({
                        "id": @Article.getNewId,
                        "parentId": parseInt($("#parent_select")[0].value),
                        "title": $("#title-input")[0].value,
                        "contentHtml": $("#preview_content")[0].innerHTML,
                        "contentMarkdown": $("#text-input")[0].value
                    }),
                    contentType: "application/json",
                    processData:false
                });

                request.done(function (response) {
                    console.log(response);
                });
                request.fail(function (jqXHR, textStatus) {
                    console.log("Request failed: " + textStatus+" :"+jqXHR.responseText);
                });
            }

    </script>


}


